<div id="main">
  <div class="section pt-7 pb-7">

    <div class="container">
      <div class="row"> 
      <div class="agent-detail style-2 col-md-6">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="thumbnail "   >
                  <img src="http://localhost:3500/images/75b642b0f7247f54a897389760f57e48.jpg" alt="" />
                  <div class="agent-social text-center" style="color: #ffffff;">
                    <h3 align="center">{{jsonData['0'].property_name}}, {{jsonData['0'].state}} {{jsonData['0'].zipcode}}</h3>
    
    
                    <h5>Property ID : {{jsonData['0'].property_id}}</h5>
                    <h5>Seller ID : BND45466</h5>
                  </div>
    
    
    
              </div>
            </div>
              <div class="col-md-3"></div>
            </div>
            <div class="row">
           <div class="col-md-12">

              <div class="box-content">
                  <h4 class="title" align="text-center">
                    <a href="#" title="Kent Pather">{{jsonData['0'].property_name}}, {{jsonData['0'].state}} {{jsonData['0'].zipcode}}</a>

                  </h4>
                  <h3>General Note Information</h3>
                <div class="info-agent col-md-6 col-sm-6 col-xs-6">
                <div class="widget widget_text">

                <div class="textwidget">
                  <ul class="open-info">
                    <li>Product ID  </li>
                    <li>Property Type</li>
                    <li>Lien Position </li>
                    <li>Loan Type</li>
                    <li>Note Status</li>
                    <li>Original Loan Amount</li>
                    <li>Current Principal Balance</li>
                    <li>Rating</li>
                    <li>Monthly Loan Payment</li>
                    <li>Property Value</li>
                    <li>LTV/CLTV</li>
                    <li>Asking Price</li>
                    <li>% of the Principal Balance</li>
                    <li>Status</li>
                  </ul>
                </div>
               </div>
               </div>
                <div class="info-agent col-md-6 col-sm-6 col-xs-6">
                <div class="widget widget_text">

                <div class="textwidget">
                  <ul class="open-info">
                    <li>{{jsonData['0'].property_id}}</li>
                    <li>{{jsonData['0'].type}}</li>
                    <li>{{jsonData['0'].Lien_Position}}</li>
                    <li>{{jsonData['0'].Loan_Type}}</li>
                    <li>{{jsonData['0'].note_status}}</li>
                    <li>{{jsonData['0'].Original_Loan_Amount}}</li>
                    <li>{{jsonData['0'].Current_Principal_Balance}}</li>
                    <li style = "color:darkviolet">{{jsonData["0"].rating}}</li>
                    <li>${{jsonData['0'].monthly}}</li>
                    <li>${{jsonData['0'].market_value}}</li>
                    <li>3.5%</li>
                    <li>$52,000.00</li>
                    <li>{{jsonData['0'].principal}}%</li>
                    <li style="color: green">{{jsonData['0'].approved}}</li>
                  </ul>
                </div>
               </div>
               </div>

                </div>

                     </div>

            </div>
    
    
    


      </div>
      <div class=" agent-detail style-2 col-md-6">
        <div class="row">
            <div class="box-content">
               
                
<div class="col-md-8">
    <h4 class="title">
        CrowFunding Dapp
       </h4>
    <h5>
        CrowFunding Campaign
      </h5>
    <table  class="table">
        <tbody>
        <tr>
          <td>
            Crowdfunding Goal
          </td>
          <td>
            5.000000ETH
          </td>
        </tr>
    
        <tr>
          <td>
            Total Funds Raised
          </td>
          <td>
            6.000000ETH
          </td>
        </tr>
        <tr>
          <td>
            Total Backers
          </td>
          <td>
            1
          </td>
    
        </tr>
    
        <tr>
          <td>
            Deadline
          </td>
          <td>
            1472721008
          </td>
    
        </tr>
    
        <tr>
          <td>
            Campaign Status
          </td>
          <td>
            Campaign Succeeded
          </td>
    
        </tr>
    
    
    
        </tbody>
      </table>
      <h4> send Ethers to:</h4>
              <span>0x999999cf1046e68e36E1aA2E0E07105eDDD1f08E</span>
</div>

<div class="col-md-4">
    <div >

        <img src="http://localhost:3500/images/frame1.png"  width="180px"height="180px" >
      </div>
</div>
 
        </div>
      </div>
        <div class="row">
            
                <div class="box-content">
          <div class="col-md-12">
              

                      <h3>Contribute to Campaign</h3>

                      <h5>Pay to CrowdFunding Contract</h5>
                      <p style="font-weight:bold " >Coinbase Address:0xc0ffee254729296a45a3885639AC7E10F9d54979
                        <br>
                        Coinbase Balance: 99.795ETH
                      </p>
                      <input class="input" placeholder="Amount in ETH">
                        <button class="button">Send</button>
                        
                        <button class="button">Check Goal</button>
                    </div>
                  </div>
          
        </div>

         
        </div>
    </div>
  </div>
</div>