.grid-md {
  position: relative;
}

.gutters-300-md {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.col-6-md {
  width: 50%;
}

.line-height-125 {
  line-height: 1.25;
}

.font-weight-bold {
  font-weight: 700;
}

.gamma {
  font-size: 24px;
  letter-spacing: -.01em;
}

.mt-100 {
  margin-top: 1rem;
}
.bg-color-slate-97,
.bg-color-slate-97-on-hover:hover {
  background-color: #f6f8f9
}
.pt-300 {
  padding-top: 3rem
}

.pb-300 {
  padding-bottom: 3rem
}

.line-height-125	{
    line-height: 1.25;
}

.font-weight-bold{
	    font-weight: 700;

}
 .gamma{
 	font-size: 24px;
    letter-spacing: -.01em;

 }
 .text-align-center-md{
 	    text-align: center;
 }
 .pb-300-md{    padding-bottom: 3rem;

.timeline{    position: relative;
}}