<header class="header header-desktop">
	<div class="navbar-wrapper">
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="topmeta">
							<i class="fa fa-mobile"></i>
							Call Us Today <a href="tel:(+1)-(800)- xxx-xxx">(+1) 800 xxx-xxxx</a>
						</div>
					</div>
					<div class="col-md-6">
						<div class="topmeta topmeta-right pull-right">
							
							
							<a (click)="logout()" style="display:none;" id="logout" class="popup-login " >Logout</a>
					
						
							
							
							<div class="popup-content box-login mfp-with-anim mfp-hide" id="popup_02" style="width=30%;">
								<div class="detail-header">
									<h4 class="title">ARM</h4>
								</div>
								<div class="detail-content">
									<div>
										<div class="content-box-item">
											<label>Current Index Name:</label>
											<span></span>
										</div>
										<div class="content-box-item">
											<label>Margin:</label>
											<span>2.875%</span>
										</div>
										<div class="content-box-item">
											<label>Ceiling:</label>
											<span>10.875%</span>
										</div>
										<div class="content-box-item">
											<label>Floor:</label>
											<span>2.875%</span>
										</div>
										<div class="content-box-item">
											<label>Adjustment Frequency:</label>
											<span>0 Months</span>
										</div>
										<div class="content-box-item">
											<label>Next Adjustment:</label>
											<span></span>
										</div>
									</div>
								</div>
							</div>
							<!-- ARM Info Popup End-->
							
							<!-- Single Residence Info Popup -->
							<div class="popup-content box-login mfp-with-anim mfp-hide" id="popup_03" style="width=30%;">
								<div class="detail-header">
									<h4 class="title">Single Family Residence</h4>
								</div>
								<div class="detail-content">
								
									<div>
										<div class="content-box-item">
											<label>Parcel:</label>
											<span>123-456-789</span>
										</div>
										<div class="content-box-item">
											<label>Year Built:</label>
											<span>1910</span>
										</div>
										<div class="content-box-item">
											<label>Building Size:</label>
											<span>1,000 Sq.Ft</span>
										</div>
										<div class="content-box-item">
											<label>Lot Size:</label>
											<span>2,000 Sq.Ft</span>
										</div>
										<div class="content-box-item">
											<label>No.of Rooms:</label>
											<span>4</span>
										</div>												
									</div>
								</div>			
							</div>
							<!-- ARM Info Popup End-->
							<div class="widget widget-social">
								<div class="social">
									<div class="social-all">
										<a href="#" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
										<a href="#" target="_blank" class="google"><i class="fa fa-google"></i></a>
										<a href="#" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
							      <!--  <a  class="popup-login" id="login" href="#popup_01" data-init="magnificPopup" data-options='{"type":"inline","removalDelay":100}' data-effect="mfp-3d-unfold" title="Login / Register" ><i class="fa fa-users"></i></a>-->
								
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="navbar navbar-default">
			<div class="container">
				<div class="navbar-content">
					<div class="navbar-header pull-left">
						<button data-target=".nav-collapse" class="btn-navbar icon-menu" type="button">
							<i class="fa fa-bars"></i>
						</button>
						<a href="./" class="navbar-brand" title="">
							<img class="logo-img logo-normal" src=".../assets/images/logo.png" alt="" />
						</a>
					</div> 
					
					<div class="pull-right header-minicart">
						<div class="widget-shopping-cart-content">
						
						</div>
					</div>
					
						
				</div>
			</div>
		</div>
	</div>
</header>
