<footer class="footer">
  <div class="main-footer">
    <div class="colophon wigetized">
      <div class="container">
        <div class="row">
          <div class="footer-column-item col-md-4 col-sm-6">
            <div class="widget widget_text">
              <h4 class="widget-title">BITCASAS</h4>
              <div class="textwidget">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <ul class="contact-info">
                  <li><i class="fa fa-map-marker"></i>8190 E. Kaiser Blvd, Anaheim Hills, CA 92808</li>
                  <li><i class="fa fa-phone"></i>(+1)-(800)- 931-2424</li>
                  <li><i class="fa fa-envelope"></i>contact@bitcasas.com</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-column-item col-md-4 col-sm-6">
            <div class="widget widget_text">
              <h4 class="widget-title">Opening time</h4>
              <div class="textwidget">
                <ul class="open-info">
                  <li>Mon - Fri: 8AM - 10PM</li>
                  <li>Sat: 9AM - 8PM</li>
                  <li>Sun: Closed</li>
                  <li>We Work All The Holidays</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-column-item col-md-4 col-sm-6">
            <div class="widget widget_nav_menu">
              <h4 class="widget-title">Useful Link</h4>
              <ul class="menu">
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">About US</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Contact Support</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">FAQs</a></li>
              </ul>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          © 2018. Copyright <i class="fa fa-heart color"></i> BITCASAS 
        </div>
        <div class="col-sm-6">
          <div class="footer-social text-right text-center-xs">
            <a href="#" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank" class="google"><i class="fa fa-google"></i></a>
            <a href="#" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank" class="youtube"><i class="fa fa-youtube"></i></a>
            <a href="#" target="_blank" class="skype"><i class="fa fa-skype"></i></a>
            <a href="#" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
            <a href="#" target="_blank" class="dribbble"><i class="fa fa-dribbble"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
